---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import ContentLayout from '../layouts/contentLayout.astro';

const pageTitle = 'Rules';
const pageSubtitle = 'Rulesets';
const siteName = 'Stygmara Campaign';
---

<ContentLayout>
  <div>
    <h1>{pageTitle}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tenetur quidem excepturi quis accusantium vero voluptatum temporibus est animi fuga?</p>
    <p><a href="/posts/agendasPeriah">Periah Nexus Agendas</a></p>
  </div>
</ContentLayout>
