---
const { cardImg } = Astro.props;
const { cardTitle } = Astro.props;
const { cardImgAlt } = Astro.props;
const { cardLink } = Astro.props;
---

<a href={cardLink} class="card">
  <div class="cardGradient"></div>
  <img src={cardImg} alt={cardImgAlt} />
  <div class="cardTitle">{cardTitle}</div>
</a>
