---

---

<div class="navLinks">
  <slot />
</div>

<!-- <div class="navContainer">
  <div class="card" id="cardLore">
    <div class="cardGradient"></div>
    <img src="media\loreImage480x602.jpg" alt="" />
    <div class="cardTitle">Lore</div>
  </div>
  <div class="card" id="cardFactions">
    <div class="cardGradient"></div>
    <img src="media\Inquisitor-Jenita-Huln.png" alt="" />
    <div class="cardTitle">Factions</div>
  </div>
  <div class="card" id="cardBattles">
    <div class="cardGradient"></div>
    <img src="media\Ork-Vs-Tyranid.png" alt="" />
    <div class="cardTitle">Battles</div>
  </div>
  <div class="card" id="cardForces">
    <div class="cardGradient"></div>
    <img src="media\Blood-Angels-Terminator-Assault.png" alt="" />
    <div class="cardTitle">Forces</div>
  </div>
</div> -->
